sam_finetuning_dataset/
sam_finetuning_dataset_OLD/
sam_finetuning_dataset_pipeline/
.DS_Store
seg/
sam_2_best_val_model.pth
sam_best_val_model.pth
sam_model_checkpoint_ep50.pth
sam_model_checkpoint_ep100.pth
test_results
venv
fine_tune_SAM_3.ipynb
sam3_checkpoint_ep30.pth
sam3_best.pth
/home/ahma/Medical_Segmentation/FineTuning_SAM3/SAM3Tracker/results_bce_ep12/
FineTuning_SAM3/SAM3Tracker/results_bce_ep12
FineTuning_SAM3/SAM3Tracker/runs/2026-04-05_15-51-30_v3_arrow_fix_freeform_mask/inference_results
FineTuning_SAM3/SAM3Tracker/results_ep20
pipeline/results
FineTuning_SAM3/SAM3Tracker/showcase_ep20
pipeline/SAM3/sam3_best_30.pth
sam3_iou_checkpoint*
sam3_checkpoint*
best_by_*
checkpoint_ep*
model.safetensors
arrow*
freeform_bbox*
number_letter*
images*
masks*
overlays*
pred_masks*
*sam_finetuning_dataset*
*.tar.gz
*.log
*.pt
*.pth
*.safetensors
FineTuning_SAM3/SAM3Tracker/sam3_best_iou.pth
FineTuning_SAM3/SAM3Tracker/runs/2026-04-05_15-51-30_v3_arrow_fix_freeform_mask/inference_results
FineTuning_SAM3/SAM3Tracker/runs/2026-04-08_23-45-45_v4_arrow_tip_inverted_freeform_mask/inference_results_full
FineTuning_SAM3/SAM3Tracker/runs/2026-04-12_22-50-01_v5_arrow_perpendicular_spread_freeform_mask/inference_results_full
FineTuning_SAM3/SAM3Tracker/runs/2026-04-15_12-50-03_v6_arrow_pca_axis_freeform_mask/inference_results_full
FineTuning_SAM3/SAM3Tracker/runs/2026-04-15_12-50-03_v6_arrow_pca_axis_freeform_mask/inference_results_full_all_Flux
FineTuning_SAM3/SAM3Tracker/runs/2026-04-15_12-50-03_v6_arrow_pca_axis_freeform_mask/inference_results_full_open_cv